layout: index
description: A concise, flexible framework for creating data-driven components.
maintitle: Regular
subtitle: A concise, flexible framework for creating data-driven components
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-lightbulb-o
      h3.intro-feature-title Powerful
      p.intro-feature-desc live templating is string-based, take more control on templating logic.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-paper-plane-o
      h3.intro-feature-title Concise
      p.intro-feature-desc data-binding, directive, filter, event and animation... all of them is supported out of box with concise API
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-diamond
      h3.intro-feature-title Flexible
      p.intro-feature-desc compeletely self-contained, easily integrated and well encapsulation. make it be friendly with large-project